SRPushNotificationsWindowsApp/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SunriverNotificationsWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PushNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:PushNotification" />
  </wsdl:message>
  <wsdl:message name="IService1_PushNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PushNotificationRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:PushNotificationRegister" />
  </wsdl:message>
  <wsdl:message name="IService1_PushNotificationRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushNotificationRegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PushNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PushNotification" message="tns:IService1_PushNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PushNotificationResponse" message="tns:IService1_PushNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushNotificationRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PushNotificationRegister" message="tns:IService1_PushNotificationRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PushNotificationRegisterResponse" message="tns:IService1_PushNotificationRegister_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushNotification">
      <soap:operation soapAction="http://tempuri.org/IService1/PushNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushNotificationRegister">
      <soap:operation soapAction="http://tempuri.org/IService1/PushNotificationRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:18732/Design_Time_Addresses/SunriverNotificationsWcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>